<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="logout">
            <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
        </form>
    </div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
        <input type="text" name="text" placeholder="Enter the name">
        <input type="text" name="tag" placeholder="Enter the tag">
        <input type="submit" value="send">
    </form>
    <form  method="post" action="filter">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
        <input type="text" name="filter">
        <input type="submit" value="send">
    </form>
</div>

<h1>Message list</h1>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <b>{{text}}</b>
        <b>{{tag}}</b>
    </div>
{{/messages}}
</body>
</html>
